In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [6]:
#credits['cast'][0]
#credits['crew'][0]

In [7]:
movies.shape

(4803, 20)

In [8]:
credits.shape

(4803, 4)

In [9]:
#merge both dataFrame movies and credits and store into the movie
movies=movies.merge(credits,on='title')

In [10]:
movies.shape

(4809, 23)

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [12]:
# remove unnessary columns because we need nessary column to give recommendation
# genres
# keywords
# title
# overview
# movie_id
# cast
# crew

In [13]:
#movies['original_language'].value_counts()

In [14]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [15]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [16]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [17]:
movies.dropna(inplace=True)

In [18]:
movies.duplicated().sum()

0

In [19]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [20]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#['Action','Adventure','Fantasy','SciFi']

In [21]:
import ast
def convert(obj):
    lis=[]
    for i in ast.literal_eval(obj):
        lis.append(i['name'])
    return lis

In [22]:
movies['genres']=movies['genres'].apply(convert)

In [23]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [24]:
movies['keywords']=movies['keywords'].apply(convert)

In [25]:
#movies['cast'][0] https://api.themoviedb.org/3/movie/{movie_id}?api_key=<<api_key>>&language=en-US

In [26]:
def convert3(obj):
    lis=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter != 3:
            lis.append(i['name'])
            counter+=1
        else:
            break
    return lis

In [27]:
movies['cast'] = movies['cast'].apply(convert3)

In [28]:
movies['crew'][4804]

'[{"credit_id": "52fe44eec3a36847f80b280b", "department": "Directing", "gender": 0, "id": 2294, "job": "Director", "name": "Robert Rodriguez"}, {"credit_id": "52fe44eec3a36847f80b2847", "department": "Camera", "gender": 0, "id": 2294, "job": "Director of Photography", "name": "Robert Rodriguez"}, {"credit_id": "52fe44eec3a36847f80b284d", "department": "Editing", "gender": 0, "id": 2294, "job": "Editor", "name": "Robert Rodriguez"}, {"credit_id": "52fe44eec3a36847f80b281d", "department": "Production", "gender": 0, "id": 2294, "job": "Producer", "name": "Robert Rodriguez"}, {"credit_id": "52fe44eec3a36847f80b2811", "department": "Writing", "gender": 0, "id": 2294, "job": "Author", "name": "Robert Rodriguez"}, {"credit_id": "52fe44eec3a36847f80b2817", "department": "Production", "gender": 2, "id": 20498, "job": "Producer", "name": "Carlos Gallardo"}, {"credit_id": "52fe44eec3a36847f80b2829", "department": "Sound", "gender": 0, "id": 57473, "job": "Music", "name": "Eric Guthrie"}, {"credit_id": "52fe44eec3a36847f80b282f", "department": "Sound", "gender": 0, "id": 57474, "job": "Music", "name": "Chris Knudson"}, {"credit_id": "52fe44eec3a36847f80b2835", "department": "Sound", "gender": 0, "id": 57475, "job": "Music", "name": "\\u00c1lvaro Rodr\\u00edguez"}, {"credit_id": "52fe44eec3a36847f80b283b", "department": "Sound", "gender": 0, "id": 57478, "job": "Music", "name": "Cecilio Rodr\\u00edguez"}, {"credit_id": "52fe44eec3a36847f80b2841", "department": "Sound", "gender": 0, "id": 57479, "job": "Music", "name": "Mark Trujillo"}]'

In [29]:
def fetch_director(obj):
    lis=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            lis.append(i['name'])
            break
    return lis

In [30]:
 movies['crew']=movies['crew'].apply(fetch_director)

In [31]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [32]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [33]:
movies['genres'] = movies['genres'].apply(lambda x :[i.replace(" ","") for i in x ])
movies['keywords'] = movies['keywords'].apply(lambda x :[i.replace(" ","") for i in x ])
movies['cast'] = movies['cast'].apply(lambda x :[i.replace(" ","") for i in x ])
movies['crew'] = movies['crew'].apply(lambda x :[i.replace(" ","") for i in x ])

In [34]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [35]:
#after tags generated

new_movies=movies[['movie_id', 'title','tags']]

In [36]:
new_movies['tags'] = new_movies['tags'].apply(lambda x : " ".join(x) )

<ipython-input-36-8d02ffa7b695>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x : " ".join(x) )

In [37]:
new_movies['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [38]:
new_movies['tags'] = new_movies['tags'].apply(lambda x : x.lower())

<ipython-input-38-d2a3162e0aac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x : x.lower())

In [39]:
 new_movies.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [40]:
import nltk

In [41]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [42]:
ps.stem('loved')

'love'

In [43]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    convert_in_string = " ".join(y)
    return convert_in_string

In [44]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [45]:
 new_movies['tags'] = new_movies['tags'].apply(stem)

<ipython-input-45-cc450bb3c1c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(stem)

In [46]:
new_movies['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [47]:
new_movies['tags'][1]

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnnydepp orlandobloom keiraknightley goreverbinski"

In [48]:
#compare two tags to find similarity

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000, stop_words='english')

In [50]:
vectors = cv.fit_transform(new_movies['tags']).toarray()

In [51]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [52]:
vectors.shape

(4806, 5000)

In [53]:
len(cv.get_feature_names_out())

5000

In [54]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [55]:
#5000 dimenssional
# to find the distance between movies 
# we use eculiden distance or cosine distance but I use cosine distance

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
similarity = cosine_similarity(vectors)

In [58]:
new_movies[new_movies['title']=='Avatar'].index[0]

0

In [59]:
#sorted(similarity[0],reverse=True)
sorted(list(enumerate(similarity[0])),reverse=True,key= lambda x : x[1])[1:6]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574)]

In [60]:
def recommend(movie):
    movie_index = new_movies[new_movies['title']==movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)),reverse=True,key= lambda x : x[1])[1:6]
    
    for i in movie_list:
        print(new_movies.iloc[i[0]].title)

In [61]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [62]:
import pickle as pk

In [63]:
pk.dump(new_movies,open('movies.pkl','wb'))

In [64]:
pk.dump(similarity,open('similarity.pkl','wb'))